<% provide(:title, 'All Surfers') %>

<h1 class="text-center"> All Surfers </h1>

<%= will_paginate @users %>

<ul>
  <% @users.each do |user| %>
    <div class="surfers_list">
      <% if user.avatar.attached? %>
        <%= image_tag(url_for(user.avatar.variant(resize: "100x100"))) %>
      <% end %>
      <%= link_to user.name, user %>
    </div>
  <% end %>
</ul>

<%= will_paginate %>