<% provide(:title, 'All Surfers') %>

<h1 class="text-center"> All Surfers </h1>

<%= will_paginate @users %>

<ul>
  <% @users.each do |user| %>
    <div class="surfers_list">
      <% if user.avatar.attached? %>
        <%= link_to image_tag(user.avatar.variant(resize:"100x100")), user %>
      <% end %>  
      <%= link_to user.name, user %>
    </div>
  <% end %>
</ul>

<%= will_paginate %>