<h4 class='text-dark border-bottom pb-3 pt-3 h4-who-follow'>Followed BY</h4>
<div>
  <ul class="not-follow-list">
    <% @users.each do |user| %>
      <% if user.followers %>
        <% if @user != user %>
          <div class="users-not-following">
            <%=  image_tag(url_for(user.avatar.variant(resize: "50x50", crop:"50x50+0+0"))) %>
            <%= link_to user.name, user %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>