<div class="text-center">
  <% if current_user.avatar.attached? %>
    <%=  image_tag(current_user.avatar.variant(resize: "180x180")) %>
  <% end %>
  <h1 class="aside-name text-center">
    <%= current_user.name %>
  </h1>
  <span class="text-center">
    <%= link_to "view my profile", current_user, class:"aside-link" %>
  </span>
  <span class="text-center aside-count">
    <%= pluralize(current_user.posts.count, "post") %>
  </span>
</div>
