// @import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Global Settings*/
body {
  padding-top: 60px;
  font-family: 'Archivo', sans-serif;
  background-color: #f5f6f8;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* Global settings end */

.navbar {
  background-color: #52a6e6;
  border: none;
  margin-bottom: 10px;
}


.navbar-inverse .navbar-nav > li > a {
  color: white;
  font-family: 'Archivo', sans-serif;
  font-size: 17px;
  margin: 3px 0;
  &:hover {
    font-weight: bold;
  }
}


#logo {
  float: left;
  margin: 3px 0;
}

.home-background {
  background-image: url('https://res.cloudinary.com/de3vnm3hk/image/upload/v1614190445/welcome2_mjjaoh.jpg');
  background-position: center;
  background-size: cover;
  height: 45vh;
  margin-top: 30px;
}

.intro-text {
  padding-top: 54px;
  color: white;
  font-weight: bold;
  h1 {
    font-size: 42px;
    margin-top: -10px;
  }
  h2 {
    margin-top: 0;
    padding-bottom: -5px;
  }
}

.btn-register {
  background-color: #52a6e6;
  color: white;
}

// PROFILE LEFT SIDE


.profile-links {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding: 25px 0;
   a {
    color: #516679;
  } &:hover a {
    text-decoration: none;
    color: #52a6e6;
  }
}

aside {
  background-color: #213246;
}

.aside-name, .aside-link, .aside-count {
  color: white;
  margin: 8px 0;
}


aside {
  height: 100vh;
}

/* Footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: rgb(51, 90, 134);
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* Footer  End*/


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

// sidebar

.user_info {
  padding: 20px;
  border: 1px solid #52a6e6;
  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    color: #52a6e6;
    margin: 15px 0;
  }
}

.posts-number-user {
  border: 1px solid gray;
  padding: 20px;
  font-weight: bold;
  color: #52a6e6;
}

.side-right {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  padding: 20px;
  border: 2px solid #52a6e6;
  color: #52a6e6;
  background-color: white;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h4-who-follow {
  border-bottom: 2px solid #52a6e6;
  padding-bottom: 20px;
}
.not-follow-list {
  padding: 0;
}

.users-not-following {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding-left: 0;
  padding-bottom: 12px;
  border-bottom: 1px solid #52a6e6;
}


aside {
  section.user_info {
    margin-top: 20px;
  }

  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}


// FORMS

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 2%;
  @include box_sizing;
}

#follow_form {
  margin-top: 30px;
  font-weight: bold;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: darkred;
  }
}

// Users Index

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 20px 0;
    border-top: 1px solid darkslategray;
    &:last-child {
      border-bottom: 1px solid darkslategray;
    }
  }
}

// POSTS

.posts {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.post-user-feed {
  margin-bottom: 7px;
  font-weight: bold;
  color: #213246;
}

.post-format {
  display: flex;
  flex-direction: column;
}

.post-format {
  padding-left: 10px;
}

.post-content-feed {
  border: 1px solid darkgray;
  border-radius: 2%;
  background-color: white;
  padding: 20px;
  margin-top: 50px;
  h3 {
    color: #52a6e6;
  }
}

.content {
  display: block;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  margin: 7px 0;
}

.timestamp {
  color:rgb(71, 83, 92);
  font-size: 12px;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

aside {
  textarea {
    height: 120px;
    margin-bottom: 5px;
  }
}

// stats

.stats-show-follow {
  display: flex;
  flex-direction: column;
}

.stats-follow {
  margin-bottom: 30px;
}

.stats {
  display: flex;
  justify-content: center;
  overflow: auto;
  margin-top: 0;
  padding: 10px 0;
  border: 1px solid darkgray;
  a {
    padding: 0 22px;
    border-left: 1px solid darkgray;
    color: #516679;
    &:first-child {
      padding-left: 0;
      border: 0;
      padding-right: 22px;
    }
    &:hover {
      text-decoration: none;
      color: #52a6e6;
    }
  }
  strong {
    display: block;
  }
}

.surfers_list {
  margin-bottom: 10px;
  padding-bottom: 6px;
  border-bottom: 1px solid darkgray;
}

.show-follow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.who-follow-right {
  border: 1px solid gray;
}

.user-info-div {
  border: 2px solid #52a6e6;
}