.user-show-posts {
  background-color: white;
  h4 {
    padding: 10px 0 10px 10px;
    color: #52a6e6;
    border-bottom: 1px solid #b9bec5;
  } ol {
    padding-left: 10px;
  }
}

.who-follow-right {
  margin-top: 8px;
  h4 {
    padding: 12px 0;
    border-bottom: 1px solid rgb(204, 196, 196);
    color: #b9bec5;
    font-weight: bold;
  }
}

.user-info-div {
  border-left: 2px solid rgb(224, 224, 224);
}

.user_info {
  padding: 10px;
  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    color: #213246;
    margin: 10px 0;
    font-variant: small-caps;
    img {
      border-radius: 50%;
      border: 1px solid #555;
      margin-bottom: 10px;
    }
  }
}